<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true" verbose="true" bootstrap="vendor/autoload.php" displayDetailsOnPhpunitDeprecations="true">
    <testsuites>
        <testsuite name="All tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
